.conteudoprincipal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.conteudoescrito {
    display: flex;
    flex-direction: column;
    
}

h1 {
    font-size: 120px;
    width: 100px;
    letter-spacing: 3px;
    padding-left: 100px;
    line-height: 115px;
    padding-bottom: 40px;
    position: relative; 
    bottom: 55px; 
}

h2 {
    font-size: 45px;
    width: auto;
    padding-left: 285px;
    position: relative; 
    bottom: 165px; 
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: flicker 1.5s infinite alternate; 
}


h2::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
  }
  
  h2::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
  }
  
  h2:focus {
    outline: none;
  }

@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
           
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}

:root {
 
    
    /* Set neon color */
    --neon-text-color: #f40;
    --neon-border-color: #08f;
  }

h3 {
    letter-spacing: 3px;
    font-size: 30px;
    padding-left: 13px;
    position: relative;
    bottom: 30px;
}


.icons {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-right: 100px;
}


.ananome {
    color: white;
    font-family: 'Advent Pro', sans-serif; 
    font-size: 20px;
    padding-left: 50px;
    text-transform: uppercase; 
    position: relative; 
    bottom: 110px;
    
}

.luizanome {
    color: white;
    font-family: 'Advent Pro', sans-serif; 
    font-size: 20px;
    padding-left: 50px;
    text-transform: uppercase; 
    position: relative; 
    bottom: 150px; 
    
}

.iconana, .iconluiza {
    height: 10em;
    width: 10em;
    position: relative; 
    bottom: 70px; 
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
   
}

.iconana:hover, .iconluiza:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    transition: 0.4s;
  }

.iconluiza {
    top: -110px;
}

.ingresso {
    font-size: 14px;
    text-transform: uppercase; 
    letter-spacing: 1px;
    margin-left: 22px;
}

.divbotao {
    padding-top: 410px;
    width: 50%;
    width:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  bottom: 40px;
}

.botao {
    font-size: 25px;
    width: 230px;
    height: 50px;
    border: none;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.555);
    background-color: rgba(255, 0, 0, 0.877);
    border-radius: 8px;
    color: white;

    border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 170, 170, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}


.botao:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #ff1818; 
}


main {
    margin-bottom: 55px;
}