.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
}

.logo {
   height: 50px;
   padding-left: 30px;
   position: absolute;
   top: 15px;
}

.quadradinho{
    width: 90px;
  height: 100px;
  background: rgba(0, 0, 0, 0.658);
  border-radius: 15px;
  position: relative;
  left: 12px;
  top: -40px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    top: 10px;
    gap: 30px;
    font-size: 25px;
    text-shadow: 3px 3px 20px black;
    cursor: pointer;
    right: 20px;
    padding-top: 15px;
}

.menuitem1 {
    opacity: 0.7;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

.menuitem1:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .44s ease-in-out;
    -webkit-transition: opacity .44s ease-in-out;
    text-decoration: underline;
    color: rgb(255, 228, 106);
}

.menuitem2 {
    opacity: 0.7;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

.menuitem2:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
    text-decoration: underline;
    color: rgb(255, 228, 106);
}

.menuitem3 {
    opacity: 0.7;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

.menuitem3:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
    text-decoration: underline;
    color: rgb(255, 228, 106);
}

.menuitem4 {
    opacity: 0.7;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

.menuitem4:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
    text-decoration: underline;
    color: rgb(255, 228, 106);
}

