@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../../img/dust.png");
    background-size: 100%;
}

.divfaq {
    display: flex;
    position: absolute;
    left: 62%;
    top: 14%;
}

.faq {
    display: flex;
    width: 527px;
    height: 602px;
}

main {
    font-family: 'Staatliches', cursive;
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    width: 100vw;
    height: 85vh;
    background-color: rgba(235, 235, 235, 0.863);
    padding-left: 2%;
}

p {
    font-size: 25px;
    padding-left: 50px;
}

h1 {
    font-size: 45px;
    padding-left: 50px;
    margin-bottom: 20px;
    color: rgb(185, 4, 4);
}

#nome {
    height: 30px;
    width: 590px;
    margin-bottom: 15px;
    padding-left: 7px;

}

#email {
    height: 30px;
    width: 590px;
    margin-bottom: 15px;
    padding-left: 7px;
}

#mensagem {
    height: 120px;
    width: 590px;
    overflow: scroll;
    outline: none;
    overflow-x: hidden;
    padding-left: 7px;
    padding-top: 5px;
    
}

.contatenos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
}

.enviarmensagem {
  display: inline-block;
  border-radius: 4px;
  background-color: #a70000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 170px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: relative;
  left: 18vw;
  top: 40px;
}

.enviarmensagem span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .enviarmensagem span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .enviarmensagem:hover span {
    padding-right: 25px;
  }

  .enviarmensagem:hover span:after {
    opacity: 1;
    right: 0;
  }